/* ----- Reset Styles ----- */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  font-family: inherit;
}
button {
  background: inherit;
  border: inherit;
}

/* ----- Global Styles ----- */
body {
  background-image: var(--bg-gradient-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
}
.container {
  max-width: 1500px;
  margin: auto;
  height: 100%;
  padding: 0 20px;
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}
