/* ----- rem based on default 16px ----- */
:root {
  --font-h1: 3rem; /* -- 48px --*/
  --font-h2: 2.25rem; /* -- 36px --*/
  --font-h3: 1.5rem; /* -- 24px --*/
  --font-secondary-title: 1.25rem; /* -- 20px --*/
  --font-body: 1rem; /* -- 16px --*/
  --font-small: 0.875rem; /* -- 14px --*/
  --font-micro: 0.75rem; /* -- 12px --*/
}

@media (max-width: 1023px) {
  :root {
    --font-h1: 2rem; /* -- 32px --*/
    --font-h2: 1.75rem; /* -- 28px --*/
    --font-h3: 1.125rem; /* -- 18px --*/
    --font-secondary-title: 1rem; /* -- 16px --*/
    --font-body: 0.875rem; /* -- 14px --*/
    --font-small: 0.8125rem; /* -- 13px --*/
    --font-micro: 0.75rem; /* -- 12px --*/
  }
}
